<template>
  <div>
    <Header />
    <div class="content">
      <template v-if="isLoading">
        <div class="message">
          carregando...
        </div>
      </template>

      <template v-else-if="hasError">
        <div class="message">
          Não foi possível encontrar os dados.
        </div>
      </template>

      <template v-else-if="children && children.length">
        <div class="grid">
          <Item
            v-for="item in children"
            :key="item.title"
            :title="item.title"
            :url="`/item/${item.id}`"
          />
        </div>
      </template>

      <template v-else-if="content">
        <ItemContent :title="title" :content="content" />
      </template>

      <template v-else>
        <div class="message">
          Ainda não há conteúdo para este item.
        </div>
      </template>
    </div>
  </div>
</template>

<script>
import Header from '../components/Header';
import Item from '../components/Item';
import ItemContent from '../components/ItemContent';

// https://router.vuejs.org/guide/advanced/data-fetching.html#fetching-after-navigation
export default {
  components: {
    Header,
    Item,
    ItemContent,
  },

  data() {
    return {
      isLoading: true,
      hasError: false,

      title: '',
      content: '',
      children: [],
    };
  },

  watch: {
    $route: {
      handler: 'fetchData',
      immediate: true,
    },
  },

  methods: {
    fetchData() {
      this.isLoading = true;
      this.hasError = false;

      this.$http.get(`/item?id=${this.$route.params.id}`)
        .then(res => {
          if (res.status !== 200) {
            throw new Error(res);
          }

          this.hasError = false;
          this.isLoading = false;

          this.title = res.data.title;
          this.content = res.data.content;
          this.children = res.data.children;
        })
        .catch(error => {
          console.error(error);

          this.hasError = true;
          this.isLoading = false;
        });
    },
  },
}
</script>

<style lang="scss" scoped>
.content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  min-height: 100vh;
  padding-top: 110px; // header + padding;
  background-color: #061434;
}

.grid {
  gap: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 1080px;
}

.message {
  color: #fff;
}
</style>
