<template>
  <div class="visitor-page">
    <Header/>
    <ListCards :cards="cursos"/>
  </div>
</template>

<script>
import Header from '../../components/Header';
import ListCards from '../../components/ListCards';
export default {
  name: 'VisitorPage',

  components: {
    Header,
    ListCards,
  },

  data() {
    return {
      cursos: [
        {
          title: 'Eventos',
          color: 2
        },
        {
          title: 'Mapa',
          color: 4
        }
      ],
    }
  },
}
</script>


<style lang="scss">
@import "VisitorPage";
</style>