.welcome-page {
  .video {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;

    iframe {
      width: 100vw;
      height: 100vh;
    }

    .video-blur {
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      z-index: 0;
      background-color: rgba(3, 42, 114, 0.61);
    }
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    height: 88vh;

    .div-h2 {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 18vw;
      height: 80vh;
      width: 44vw;
      opacity: 70%;
    }

    .h2-card {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-family: sans-serif;
      font-weight: 500;
      color: white;
      width: 30vw;
      height: 20vh;
      background-color: #1D6EEB;
      box-shadow: 0px 6px 5px 1px #030e27;
      border-radius: 40px;
    }
  }
}
