<template>
  <div class="welcome-page">
    <Header :page="'welcome-page'"/>

    <template v-if="isLoading">
      <Loader/>
    </template>

    <!-- Vídeo -->
    <div class="video">
      <div class="video-blur"></div>
    </div>

    <!-- Conteúdo da Página -->
    <div class="container">
    <!--
      <div @click="navigateTo(info.path)" class="div-h2" v-for="info in card" :key="info.path">
        <h2 class="h2-card">{{info.title}}</h2>
      </div>
      -->
      <Item
        v-for="item in items"
        :key="item.title"
        :title="item.title"
        :url="`/item/${item.id}`"
      />
    </div>
  </div>
</template>

<script>
import Header from '../../components/Header';
import Item from '../../components/Item';
import Loader from '../../components/Loader';

export default {
  name: 'WelcomePage',

  components: {
    Header,
    Item,
    Loader,
  },

  data() {
    return {
      isLoading: true,
      /**
      card: [
        {
          title: 'Estudante',
          path: '/estudante'
        },
        {
          title: 'Visitante',
          path: '/visitante'
        },
      ],
      */
      items: [],
    };
  },

  mounted() {
    this.getItemsHome();
  },

  methods: {
    navigateTo(path) {
      this.$router.push(path)
    },
    getItemsHome() {
      this.isLoading = true;
      console.log('ItensHome');

      this.$http.get('/items')
        .then(response => {
        console.log(response);
        this.items = response.data.items;

        this.isLoading = false;
        console.log(this.$router.path);
      }).catch(error => {
        console.error(error);
        console.log(error);

        this.isLoading = false;
      });
    }
  },
}
</script>


<style lang="scss">
@import "WelcomePage";
</style>