<template>
  <div class="div-header-totem">
    <img
      v-if="this.$route.path === '/estudante' || this.$route.path === '/visitante'"
      class="icon-sair"
      v-on:click="navigateTo('/')"
      src="/img/sair.svg" alt="Icon sair"
    >
    <img v-else-if="this.$route.path === '/'">
    <img v-else class="icon-sair" v-on:click="back()" src="../../public/img/voltar.svg" alt="Icon sair">
    <div v-if="this.$route.path != '/'" class="div-data-totem" :key="atualizaData">
      <h2 class="h2-horario-totem">{{horaAtual}}:{{minutoAtual}}</h2>
      <h2 class="h2-data-totem">
        {{10 > dataAtual.getDate() ? '0' + dataAtual.getDate() : dataAtual.getDate()}}/{{10 > (dataAtual.getMonth() + 1) ? '0' + (dataAtual.getMonth() + 1) : (dataAtual.getMonth() + 1 ) }}/{{dataAtual.getFullYear()}}
      </h2>
    </div>
    <img v-on:click="navigateTo('/')" :class="page == 'welcome-page' ? 'img-header-totem-solo' : 'img-header-totem'" src="/img/logo-amf-branco.png" alt="Logo amf">
  </div>
</template>

<script>
export default {
  name: 'Header',

  props: {
    page: {
      type: String,
    },
  },

  data() {
    return {
      atualizaData: false,
      horaAtual: '',
      minutoAtual: '',
      dataAtual: [],
    }
  },

  mounted() {
    this.dataHora();
  },

  methods: {
    back() {
      this.$router.go(-1);
    },
    navigateTo(path) {
      this.$router.push(path)
    },
    dataHora() {
      let data = new Date();

      this.horaAtual = data.getHours();
      this.minutoAtual = data.getMinutes();

      this.dataAtual = data;

      if (this.horaAtual < 10) {
        this.horaAtual = '0' + this.horaAtual;
      }

      if (this.minutoAtual < 10) {
        this.minutoAtual = '0' + this.minutoAtual;
      }

      this.atualizaData = !this.atualizaData;
      setTimeout(() => {
        this.dataHora();
      }, 10000);
    },
  }
}
</script>

<style lang="scss">
@import "Header";
</style>