.div-header-totem {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  height: 90px;
  left: 0;
  right: 0;
  top: 0;
  z-index: 15;
  background-color: #061434;
  box-shadow: 0 0px 10px 0 #042777;

  .icon-sair {
    position: absolute;
    height: 50px;
    margin-right: 90%;
  }
  
  .div-data-totem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    .h2-horario-totem {
      color: #fff;
      font-size: 30px;
      font-weight: bold;
    }
    
    .h2-data-totem {
      color: #fff;
      font-size: 25px;
    }
  }
  
  .img-header-totem {
    height: 130px;
  }

  .img-header-totem-solo {
    height: 130px;
  }
}