<template>
  <div class="item-content">
    <div v-html="content" />
  </div>
</template>

<script>
export default {
  props: {
    title: String,
    content: String,
  },
};
</script>

<style lang="scss">
.item-content {
  padding: 0.5rem;
  border-radius: 4px;
  background-color: #fff;

  table {
    width: 100%;
    border: 1px solid #dee2e6;

    th,
    td {
      padding: .75rem;
      border-top: 1px solid #dee2e6
    }

    tbody strong {
      white-space: nowrap;
    }

    tbody tr:nth-of-type(odd) {
      background-color: rgba(0, 0, 0, 0.05);
    }
  }
}
</style>
