<template>
  <router-link :to="url">
    <div :class="`item ${color}`">
      {{ title }}
    </div>
  </router-link>
</template>

<script>
export default {
  props: {
    title: String,
    url: String,
  },
};
</script>

<style lang="scss" scoped>
.item {
  color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #1D6EEB;
  box-shadow: 0px 6px 5px 1px #030e27;

  &:hover {
    text-decoration: none;
    background-color: lighten(#1D6EEB, 10%);
  }
}
</style>
