<template>
  <div class="list-page">
    <div :class="cards.length <= 2 ? `div-card-${cards.length}` : 'div-card-3'">
      <div @click="clicarCard(card.id, card.title)" :class="card.title == 'Pedir ajuda' ? 'card-1 card-vermelho' : 'card card-' + card.color" v-for="card in cards" :key="card.title">
        <h2 class="h2-card">{{card.title}}</h2>
      </div>
      <div :class="statusModal ? 'modal-card-aberto' : 'modal-card--collapsed'">
        <ModalCard @fecha-card="fecharCard" :conteudo="conteudoModalCard"/>
      </div>
      <div :class="statusModalBus ? 'modal-card-aberto' : 'modal-card--collapsed'">
        <ModalBus @fecha-card="fecharCard" :cardAberto="statusModalBus"/>
      </div>
    </div>
  </div>
</template>

<script>
import ModalCard from '../components/ModalCard';
import ModalBus from '../components/ModalBus';

export default {
  name: 'ListCards',

  components: {
    ModalCard,
    ModalBus
  },

  props: {
    cards: {
      type: Object,
      required: true
    },
  },

  data() {
    return {
      statusModal: false,
      statusModalBus: false,
      conteudoModalCard: [],
      dadosCurso:
      {
        imagem: "/img/sistemas.png",
        disciplinas: ['Algoritmo II', 'Formação Empresarial I', 'Laboratório de Algoritmo II', 'Língua Inglesa II', 'Organização e Arquitetura de Computadores' ],
        salas: ['AMF 1 Sala 2 - Intervalo xx-xx', 'AMF 1 Sala Empresarial - Intervalo xx-xx', 'AMF 2 Laboratório - Intervalo xx-xx', 'AMF 1 Sala 3 - Intervalo xx-xx', 'AMF 3 Biblioteca - Intervalo xx-xx'],
        horarios: ['19:00 - 22:40', '19:00 - 22:40', '19:00 - 22:40', '19:00 - 22:40', '19:00 - 22:40'],
      },
    }
  },

  methods: {
    clicarCard(id, title) {
      if (id != 0) {
        this.$router.push(`/item/${id}`);
        console.log(this.$route.path);
      } else if (title == 'Horario dos ônibus') {
        this.statusModalBus = true;
        this.$emit('fundo-card');
      }
    },

    fecharCard() {
      this.$emit('fundo-card');
      this.statusModal = false;
      this.statusModalBus = false;
      this.modalCardAberto = [];
    },
  }
}
</script>

<style lang="scss">
@import "ListCards";
</style>