.list-page {
  display: flex;
  margin-top: 12%;
  height: 85vh;
  .div-card-1 {
    display: grid;
    grid-template-columns: auto;
    justify-content: space-evenly;
    width: 98vw;
  }
  .div-card-2 {
    display: grid;
    grid-template-columns: 35% 35%;
    align-items: center;
    justify-content: space-evenly;
    margin-top: -3%;
    width: 98vw;
  }
  .div-card-3 {
    display: grid;
    grid-template-columns: 29% 29% 29%;
    align-items: center;
    justify-content: space-evenly;
    max-height: 100%;
    width: 100vw;
  }
  .card-vermelho {
    background-color: #f00833;
    text-align: center;
  }
  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 80%;
    max-height: 174px;
    margin-bottom: 30px;
    background-color: #1D6EEB;
    box-shadow: 0px 6px 5px 1px #030e27;
    border-radius: 40px;
  }
  .h2-card {
    font-family: sans-serif;
    font-weight: 500;
    color: white;
  }
  .card-1 {
    background-color: #1D6EEB;
    box-shadow: 0px 6px 5px 1px #030e27;
  }
  .card-2 {
    background-color: #e8752f;
    box-shadow: 0px 6px 5px 1px #030e27;
  }
  .card-3 {
    display: flex;
    background-color: #e8752f;
    box-shadow: 0px 6px 5px 1px #f00833;
  }
  .card-4 {
    background-color: #5ACA2D;
    box-shadow: 0px 6px 5px 1px #030e27;
  }
  .card-5 {
    background-color: #844082;
    box-shadow: 0px 6px 5px 1px #030e27;
  }
  .modal-card-aberto {
    position: absolute;
    overflow: hidden;
    width: 88%;
    height: 73%;
    margin-top: 3%;
    margin-left: 5%;
    border-radius: 25px;
    background-color: #000618;
    transition: width 600ms ease-out, height 600ms ease-out;
    z-index: 17;
  }
  
  .modal-card--collapsed {
    position: absolute;
    width: 0px;
    height: 0px;
    transition: width 10ms ease-in-out, height 10ms ease-in-out;
    z-index: -1;
  }
}