<template>
  <div v-if="loaderProp" class="div-loader">
    <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
  </div>
</template>

<script>
  export default {
    name: 'Loader',

    props: {
      loaderProp: {
        type: Boolean,
        require: false
      }
    },

    watch: {

    },

    data() {
      return {
      }
    },
  }
</script>

<style lang="scss">
@import "Loader";
</style>