.div-title {
  display: flex;  

  .imagem-amf {
    position: absolute;
    width: 37%;
    margin-top: 2%;
    margin-left: 2%;
    background-color: #061434;
  }

  .div-table {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-left: 40%;
    width: 50%;
    
    #table-cursos {
      font: 112% sans-serif;
      background-color: #000618;
      border-collapse: collapse;
      empty-cells: show;
      margin-top: 3%;
    }
  
    #table-cursos th,
    #table-cursos td {
      text-align: center;
      padding-right: .5em;
      color: white;
    }
  
    #table-cursos th {
      font-weight: bold;
      padding-left: .5em;
      border: solid #030e21;
      border-left: none;
      text-align: center;
    }
  
    #table-cursos tbody {
      height: 300px;
      overflow: scroll;
    }
  
    #table-cursos tbody > tr:last-child > th {
      border-bottom: none;
    }
  
    #table-cursos tbody > tr:last-child > td {
      border-bottom: none;
    }
  
    #table-cursos tbody > tr > td:nth-child(3) {
      border-right: none;
    }
  
    #table-cursos tbody > tr:last-child > td:last-child {
      border-right: none;
    }
  
    #table-cursos > thead > tr:first-child > th {
      text-align: center;
      font-size: 25px;
      color: white;
      border-left: none;
      border-top: none;
    }
  
    #table-cursos > thead > tr:first-child > th:nth-child(3) {
      border-right: none;
    }
  
    #table-cursos > tbody > tr > td:nth-child(2) {
      border-right: none;
    }
  
    #table-cursos td {
      background-color: #000618;
      padding: 12px 70px 12px 56px;
      border: solid #030e21;
    }
  
    #table-cursos tr > td:nth-child(1) {
      border-right: none;
    }
  }
}

.div-valores {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 25%;

  .div-botoes-sobre {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-left: 7px;
    width: 38%;
  }

  .button {
    display: inline-block;
    text-align: center;
    border: none;
    width: 153px;
    height: 55px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 20px;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  .buttonRed {
    background-color: #783C7B;
    color: black;
    border: 2px solid #5a285d;
  }
  .buttonRed:hover {
    background-color: #905aaf;
    color: white;
  }

  .buttonGreen {
    background-color: #5ACA2D; 
    color: black; 
    border: 2px solid #4CAF50;
  }
  .buttonGreen:hover {
    background-color: #4CAF50;
    color: white;
  }
}