<template>
  <div v-if="cardAberto" class="modal-bus">
    <div class="header-bus col-md-12">
      <img class="icon-onibus" src="../../public/img/icon-onibus.svg" alt="">
      <img v-on:click="fecharCard" class="icon-sair" src="../../public/img/close-branco.svg" alt="">
    </div>
    <table id="table-bus">
      <div class="table-head">
        <thead>
          <tr>
            <th>de</th>
            <th>para</th>
            <th>Horário</th>
            <th>Dia da semana</th>
          </tr>
        </thead>
      </div>
      <div class="table-body">
        <tbody>
          <tr>
            <th>STA. Maria</th>
            <td>Nova Palma</td>
            <td>06:30</td>
            <td>2°F. à Sábado</td>
          </tr>
          <tr>
            <th>STA. Maria</th>
            <td>Nova Palma</td>
            <td>09:30</td>
            <td>Domingo</td>
          </tr>
          <tr>
            <th>STA. Maria</th>
            <td>Nova Palma</td>
            <td>12:30</td>
            <td>2ªF. a Sábado</td>
          </tr>
          <tr>
            <th>STA. Maria</th>
            <td>Nova Palma</td>
            <td>15:30</td>
            <td>3ªF.,5ªF. e Sáb.</td>
          </tr>
          <tr>
            <th>STA. Maria</th>
            <td>Pinhal Grande</td>
            <td>15:30</td>
            <td>2ªF., 4ªF. e 6ªF.</td>
          </tr>
          <tr>
            <th>STA. Maria</th>
            <td>D. Francisca (Ivorá)</td>
            <td>16:30</td>
            <td>2ªF. e 6ªF.</td>
          </tr>
          <tr>
            <th>STA. Maria</th>
            <td>D. Francisca</td>
            <td>17:00</td>
            <td>2ªF. e 6ªF.</td>
          </tr>
          <tr>
            <th>STA. Maria</th>
            <td>Nova Palma</td>
            <td>19:00</td>
            <td>2ªF. a Sábado</td>
          </tr>
          <tr>
            <th>STA. Maria</th>
            <td>Nova Palma</td>
            <td>20:00</td>
            <td>Domingo</td>
          </tr>
          <tr>
            <th></th>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th>Dona Francisca</th>
            <td>STA. Maria</td>
            <td>06:00</td>
            <td>2ªF. a 6ªF</td>
          </tr>
          <tr>
            <th>Dona Francisca</th>
            <td>STA. Maria</td>
            <td>06:00</td>
            <td>2ªF. a 6ªF</td>
          </tr>
          <tr>
            <th>Dona Francisca</th>
            <td>STA. Maria</td>
            <td>06:00</td>
            <td>2ªF. a 6ªF</td>
          </tr>
          <tr>
            <th>Dona Francisca</th>
            <td>STA. Maria</td>
            <td>06:00</td>
            <td>2ªF. a 6ªF</td>
          </tr>
          <tr>
            <th>Dona Francisca</th>
            <td>STA. Maria</td>
            <td>06:00</td>
            <td>2ªF. a 6ªF</td>
          </tr>
        </tbody>
      </div>
    </table>
  </div>
</template>

<script>
export default {
  name: 'ModalCard',

  props: {
    cardAberto: {
      type: Boolean,
    }
  },

  methods: {
    fecharCard() {
      this.$emit('fecha-card');
    },
  }
}
</script>

<style lang="scss">
@import "ModalBus";
</style>
