.modal-bus {
  
  .header-bus {
    display: flex;
    justify-content: center;
  
    .icon-onibus {
      position: fixed;
      height: 100px;
      margin-top: -50px;
    }
    .icon-sair {
      position: absolute;
      height: 30px;
      margin-left: 91%;
      margin-top: 2%;
    }
  }

  #table-bus {
    font: 101% sans-serif;
    background-color: #000618;
    border-collapse: collapse;
    empty-cells: show;
    margin-top: 7%;
    margin-left: 3%;
  }

  .table-head {
    width: 83vw;
    margin-bottom: -4px;
  }

  #table-bus thead > tr > th:nth-child(1) {
    width: 141px;
    height: 60px;
    font-size: 22px;
  }

  #table-bus thead > tr > th:nth-child(2) {
    width: 289px;
    height: 60px;
    font-size: 22px;
  }

  #table-bus thead > tr > th:nth-child(3) {
    width: 186px;
    height: 60px;
    font-size: 22px;
  }
  
  #table-bus thead > tr > th:nth-child(4) {
    width: 250px;
    height: 60px;
    font-size: 22px;
  }

  #table-bus > thead > tr:first-child > th {
    text-align: center;
    font-size: 25px;
    color: white;
    border-left: none;
    border-top: none;
  }

  #table-bus > thead {
    width: 100px;
  }
  
  #table-bus > thead > tr:first-child > th:nth-child(4) {
    border-right: none;
  }

  .table-body {
    max-height: 420px;
    width: 83vw;
    overflow-y: scroll;
  }

  #table-bus tbody > tr:last-child > th {
    border-bottom: none;
  }
  
  #table-bus tbody > tr:last-child > td {
    border-bottom: none;
  }
  
  #table-bus tbody > tr > td:nth-child(4) {
    border-right: none;
  }
  
  #table-bus tbody > tr:last-child > td:last-child {
    border-right: none;
  }
  
  #table-bus > tbody > tr > td:nth-child(2) {
    border-right: none;
  }

  #table-bus th,
  #table-bus td {
    text-align: center;
    padding-right: .5em;
    color: white;
  }
  
  #table-bus th {
    font-weight: bold;
    padding-left: .5em;
    border: solid #030e21;
    border-left: none;
    text-align: center;
  }

  #table-bus td {
    background-color: #000618;
    padding: 12px 70px 12px 70px;
    border: solid #030e21;
  }
  
  #table-bus tr > td:nth-child(1) {
    border-right: none;
  }
}