<template>
  <div v-if="conteudoCard">
    <div class="div-title">
      <img class="imagem-amf" :src="pegaImagem()" alt="Logo amf">
      <div class="div-table">
        <table id="table-cursos">
          <thead>
            <tr>
              <th>Disciplina</th>
              <th>Sala</th>
              <th>Horário</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(dadosCurso, index) in conteudo.disciplinas" :key="index">
              <th>{{ dadosCurso }}</th>
              <td>{{ conteudo.salas[index] }}</td>
              <td>{{ conteudo.horarios[index] }}</td>
            </tr>
          </tbody>
        </table> 
    </div>
  </div>
    <div class="div-valores col-md-12">
      <div class="div-botoes-sobre">
        <button class="button buttonRed" @click="fecharCard">Voltar</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ModalCard',

  props: {
    conteudo: {
      type: [],
      required: true
    },
  },

  watch: {
    "conteudo"() {
      console.log(this.conteudo);
      if (this.conteudo != null) {
        this.conteudoCard = true;
      } else {
        this.conteudoCard = false;
      }
    }
  },

  data() {
    return {
      conteudoCard: false,
    }
  },

  methods: {
    fecharCard() {
      this.$emit('fecha-card', false);
      this.conteudoCard = false;
    },

    pegaImagem() {
      if (this.conteudo.imagem != undefined) {
        return this.conteudo.imagem;
      } else {
        return '../../../public/img/img-amf.png';
      }
    }
  }
}
</script>

<style lang="scss">
@import "ModalCard";
@import "ModalBus";
</style>
