.student-page {
  max-width: 100vw;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #061434;

  .fundo-transparente {
    position: absolute;
    width: 100vw;
    height: 100vh;
    opacity: 33%;
    background-color: black;
    z-index: 16;
  }
  
  .fundo-transparente--collapsed {
    position: absolute;
    width: 0px;
    height: 0px;
    transition: width 600ms ease-in-out, height 600ms ease-in-out;
    opacity: 33%;
    background-color: black;
    z-index: 11;
  }
}