<template>
  <div class="student-page">
    <div :class="statusFundoCard ? 'fundo-transparente' : 'fundo-transparente--collapsed'"/>
    <Header/>
    <ListCards @fundo-card="fundoCard()" :cards="cursos"/>
  </div>
</template>

<script>
import Header from '../../components/Header';
import ListCards from '../../components/ListCards';

export default {
  name: 'StudentPage',

  components: {
    Header,
    ListCards,
  },

  data() {
    return {
      statusFundoCard: false,
      cursos: [
        {
          id: 3,
          title: 'Administração',
          color: 1
        },
        {
          id: 4,
          title: 'Direito',
          color: 1
        },
        {
          id: 5,
          title: 'Sistemas de Informação',
          color: 1
        },
        {
          id: 6,
          title: 'Ontopsicologia',
          color: 1
        },
        // {
        //   id: 0,
        //   title: 'Pedagogia',
        //   color: 1
        // },
        // {
        //   id: 0,
        //   title: 'Especialização Ontopsicologia',
        //   color: 1
        // },
        // {
        //   id: 0,
        //   title: 'MBA Identidade Empresarial',
        //   color: 1
        // },
        {
          id: 0,
          title: 'Mapa',
          color: 4
        },
        {
          id: 0,
          title: 'Horario dos ônibus',
          color: 5
        }
      ],
    }
  },

  methods: {
    fundoCard() {
      this.statusFundoCard = !this.statusFundoCard;
      console.log(this.statusFundoCard)
    }
  }
}
</script>


<style lang="scss">
@import "StudentPage";
</style>